name: Build and Deploy Flutter Web

on:
  push:
    branches: [ main ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2

      - name: Get dependencies
        run: flutter pub get

      - name: Build web
        run: flutter build web --release

      - name: Rename build to docs
        run: mv build/web docs_deploy

      - name: Update base href
        run: sed -i 's|href="/"|href="/vantabuddy-flutter/"|g; s|src="/|src="/vantabuddy-flutter/|g' docs_deploy/index.html

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs_deploy
