name: Build Flutter Web

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2

      - name: Get dependencies
        run: flutter pub get

      - name: Build web
        run: flutter build web --release

      - name: Update base href in index.html
        run: sed -i 's|<base href="/"|<base href="/vantabuddy-flutter/"|' build/web/index.html

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: flutter-web-build
          path: build/web/
